/* @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap"); */
*{
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    min-width: 290px;
    color: #333333;
    background: #F5F5F5;
    line-height: 1.5;
}

a{
    color: #333333;
    text-decoration: none;
    cursor: pointer;
}

#navigation_menu{
    position: fixed;
    min-width: 290px;
    top: 0;
    left: 0;
    width: 300px; 
    height: 100%;
    border-right: solid;
    border-color: black;
}

#navigation_menu header{
    color: #000;
    margin: 10px;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 600;
}

#navigation_menu ul{
    height: 88%;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

#navigation_menu li{
    color: #333333;
    list-style-type: none;
    border-top: 1px solid;
    position: relative;
    width: 100%;
}

#navigation_menu a{
    display: block;
    padding: 10px 30px;
}

#navigation_menu a:hover{
    background: linear-gradient(rgba(51, 51, 51, 0.346) 85%, #FfFfFf 15%);
}

.main_section{
    position: absolute;
    margin-left: 310px;
    padding: 20px;
    margin-bottom: 110px;
}

.hero_section .hero img{
    width: 100%;
}

.hero_section .hero .hreo_image{
    position: relative;
}

.hero_section .hero .hero_text{
    text-align: center;
    color: #FfFfFf;
    position: absolute;
    top: 250px;
    left: 16%;
    background: rgba(13, 3, 90, 0.5);
    padding: 10px;
    border-radius: 10px;
}

.hero .author{
    position: absolute;
    top: 500px;
    font-weight: 700;
    left: 25%;
    color: #FfFfFf;
}

.main_section .sections{
    border-bottom: solid;
    margin-bottom: 50px;
}

.main_section header{
    text-align: left;
    margin: 0;
    font-weight: 700;
    font-size: 40px;
}

.main_section section article{
    color: #333333;
    margin: 0.96em;
}

.article_sections a{
    color: blue
}

.article_sections a:hover{
    text-decoration: underline;
}


code{
    display: block;
    text-align: left;
    /* white-space: pre-line; */
    position: relative;
    /* word-break: normal; */
    /* word-wrap: normal; */
    line-height: 2;
    background-color: #393838;
    padding: 0 15px 5px;
    color: #F5F5F5;
    /* margin: 10px; */
    border-radius: 5px;
}

.code_parent{
    position: relative;
}

.htlm_extention{
    position: absolute;
    top: 20px;
    right: 5px;
    color: red;
    /* color: #F5F5F5; */
}

.note, .warning, .objective{
    padding: 15px;
    border-radius: 5px;
    font-size: 15px;
}

.note, .objective{
    background: #333333a2;
    color: #E6F0FF;
    margin-bottom: 20px;
}

.note a{
    color: blue;
    text-decoration: underline;
}

.warning{
    color: #FF0000;
    background-color: #FFD699;
}

.bold, h4{
    font-size: 18px;
    text-decoration: underline;
}

a .bold{
    color: blue;
}

